/* Google Arvo font */
@font-face {
	font-family: Arvo;
	src: url('../fonts/Arvo-Regular.ttf');
	font-weight: 400;
}

/* Move down content because we have a fixed navbar that is 50px tall */
body {
  padding-top: 50px;
  padding-bottom: 20px;
}

.jumbotron {
	text-align: center;
	background-image: url('../images/hero_image.jpg');
	color: white;
}

ul.nav, .jumbotron h1 {
	font-family: 'Arvo', 'courier', serif;
}

.jumbotron h1 {
	margin-top: 0;
	margin-bottom: 50px;
}

.jumbotron p {
	margin-bottom: 30px;
	font-weight: 100;
	padding: 0 50px;
}

ul.nav {
	font-size: 13px;
	line-height: 1.333333333333333333;
}

.btn-lg {
	font-size: 36px;
}

.homepage {
	text-align: center;
}

.homepage h2, .homepage h3 {
	color: #e74c3c;
	font-family: 'Arvo', 'courier', serif;
	text-transform: uppercase;
}

.homepage h2 {
	font-size: 30px;
}

.homepage h3 {
	font-size: 26px;
}

.homepage p {
	font-size: 21px;
	font-weight: 300;
}

.homepage a, .homepage a:hover {
	color: #e74c3c;
}

.homepage hr {
	border-top: 1px solid #e74c3c;
	width: 160px;
	margin-top: 15px;
}
